@media (prefers-color-scheme: dark) {
    body {
        background-color: #1d1e2c;
        color: white;
    }

    a {
        color: #a0a0a0;
    }

    a::visited {
        color: #a0a0a0;
    }
}
