body {
  font-family: sans-serif;
}

details {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}

.dark-mode-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }

  img {
    filter: invert(1) hue-rotate(180deg);
  }

  details {
    border-color: white;
  }
  
  .dark-mode-button {
    border-color: white;
  }
}

